.ActiveQuiz {
  color: #fff;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 0 10px;
  border-style: border-box;
}
.Question {
  display: flex;
  justify-content: space-between;
}
